.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
  }
  
  .carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .carousel-content {
    display: flex;
    transition: all linear;
    transition-duration: 0.5s;
    -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
    scrollbar-width: none; /* hide scrollbar in Firefox */
  }
  
  /* hide scrollbar in webkit browser */
  .carousel-content::-webkit-scrollbar,
  .carousel-content::-webkit-scrollbar {
    display: none;
  }
  
  .carousel-content.show-1 > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
  }
  
  .prev,
  .next {
    opacity: 1;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -22px;
    background: #ccc;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 100%;
    transition: 0.6s ease;
    border: none;
    display: grid;
    place-items: center;
  }
  
  .next {
    right: 10%;
  }
  
  .prev {
    left: 10%;
  }
  
  /* On hover, add a semi-transparent black background */
  
  .next:hover {
    background-color: rgba(0, 166, 255);
    border-radius: 30px 0 30px 0;
  }

  .prev:hover{
    background-color: rgba(0, 166, 255);
    border-radius: 0 30px 0 30px;
  }
  
  .next.hide,
  .prev.hide {
    opacity: 0.5;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 100%;
    display: inline-block;
    transition: 1s;
    display: grid;
    place-items: center;
    color: white;
  }
  
  .active {
    border-radius: 20px 0 20px 0;
    background-color: rgb(0, 166, 255);
    font-weight: bold;
  }
  
  .space-y > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(2rem * var(--tw-space-y-reverse)) !important;
  }
  
  @media only screen and (min-width: 801px) {
    .active,
    .dot:hover {
      border-radius: 20px 0 20px 0;
      background-color: rgb(0, 166, 255);
      font-weight: bold;
    }
  }
  